{
  "tabWidth": 4,
	"useTabs": true,
	"proseWrap": "never",
	"printWidth": 200,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ]
}
